files:
  /home/ec2-user/.ssh/extra_authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDkmnATfA/Jjcz1Kygd9KUjlKeurcDYWRa+d+KI27kM0Kp1wiow7DCUap1uWIGz8In5S/L+LkF6KBi4gIqwNgOdOQD4ltT6Vhj8PskMFPlUN5UUJjxyMwfDxcjb8o+vzo2IXfo4cLDpFaUEpBEpFJV2rrrWkO4q3Ep7sqvNm3beXaKeVuq4GE9/QMnlMzcvCnHfn5ekyC6x9Pgr925b/kSDWegg3QV9E0hc5ZMZzQKRyCV7keVBZlLWD2bRM00X53fO7PWS0SIdk1bmFxze4Kc4qV2bE18r1BqaUnFsCbIuGCgg2KMEBYG0krZ2DiwGW+XXXXXXXXXXXXXXXXX dave.maple@codeengine.com
commands:
  01_append_keys:
    cwd: /home/ec2-user/.ssh/
    command: sort -u extra_authorized_keys authorized_keys -o authorized_keys
  99_rm_extra_keys:
    cwd: /home/ec2-user/.ssh/
    command: rm extra_authorized_keys
